<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="examenhijo1-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Componente de opciones de examen</h2>
	<p>Este es el componente hijo1<p/>
	<button  on-click="opcBoton">[[nomboton1]]</button>
	<button on-click="opcBoton">[[nomboton2]]</button>
  </template>

  <script>
    /**
     * `examenhijo1-element`
     * hijo 1 examen
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Examenhijo1Element extends Polymer.Element {
      static get is() { return 'examenhijo1-element'; }
      static get properties() {
        return {
          nomboton1: {
            type: String,
            value: 'Lista'
          },
		  nomboton2: {
            type: String,
            value: 'tabla'
          },
		  idB1:{
			type: String,
            value: 'B1'
		  }
        };
      }
	  	  	
		opcBoton(data) {
       this.dispatchEvent(new CustomEvent('mybuton',
		{
			detail:{
					boton:data.path[0].innerHTML,
				}
		}));
      }
    }

    window.customElements.define(Examenhijo1Element.is, Examenhijo1Element);
  </script>
</dom-module>
